    header {
      text-align: center;
      background: url("https://cdn2.vox-cdn.com/uploads/chorus_asset/file/7382859/Jayce_Splash_4.jpg");
      background-size: cover;
      color:#7ac7ff;
    
    }
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    body{
      background-color:gold;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid #e2df0b;
      border-radius: 50px;
    }
    .nav-ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    .nav-li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
#about-li{
  display:inline-block;
} 